Source: ros-kinetic-nao-dcm-bringup
Section: misc
Priority: extra
Maintainer: Natalia Lyubova <natalia.lyubova@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://www.ros.org/wiki/nao_dcm_bringup
Standards-Version: 3.9.2

Package: ros-kinetic-nao-dcm-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-naoqi-dcm-driver, ros-kinetic-rospy
Description: Bring-up the nao_dcm driver to connect to Aldebaran's Nao robot (v4).
